body{
    background-color: #99badd;

}

.highlight {
    background-color:#99badd;
}

.main{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.calendar{
    border: 1px solid black;
    padding: 1em;
    margin-left: 8px;
}

.calendar td{
    height: 1em;
    width: 1em;
}

.trueFalse{
    border: 1px solid black;
    padding: 1em;
    margin-left: 8px;
}
